p {font-size: 12px;
    font-size: 1.5em;
    font-size: 100%;

}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

p{
    font: oblique;
}
